<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>-->
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context caseSensitive="false" type="Spring.Context.Support.XmlApplicationContext, Spring.Core">
      <resource uri="config://spring/objects"/>
      <resource uri="file://services.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <!-- object definitions... -->      
      <!--<description>A example that demonstarates simple IOC features</description>
      <object name="UserInfoService" type="SpringNet.UserInfoService,SpringNet">
        <property name="UserName" value="fdsa"/>
        --><!--<property name="Person" ref="Person"/>--><!--
      </object>
      <object name="Person" type="SpringNet.Person,SpringNet">
        <property name="Age" value="12"/>
      </object>-->
    </objects>
  </spring>
</configuration >